h1{
    font-weight: 300;
}

h2{
    font-weight: 200;
}

p{
    font-size: 16;
}

div[class*="language-mark up"] {
    height: 30;
    width:150;
    border: solid 1px rgb(184, 181, 181);
    background: rgb(190, 187, 187);
}
span[class*="blockquote"]{
    color:rgb(125, 3, 97);
}

span[class*="p"]{
    color:rgb(125, 3, 97);
}
span[class*="class"]{
    color:rgb(28, 227, 101);
}
span[class*="flow"]{
    color:rgb(88, 56, 232);
}